.content-info {
  position: absolute;
  width: 1920px;
  height: 75px;
  left: -85px;
  top: 5670px;

  background: #FFFFFF;
}

.reserved {
  position: absolute;
  width: 305px;
  height: 28px;
  left: 310px;
  top: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #001A49;
}

.logofooter {
  position: absolute;
  width: 189px;
  height: 57px;
  left: 1421px;
  top: 10px;

}
